.suggestions {
    margin: 0;
    padding: 0;
    list-style-type: none;
    border:1px #ccc solid;
    .suggestion-item {
        padding: 8px;
        cursor: pointer;
        background: #fff;
        &:hover {
            background: #f0f0f0;
        }
        &.is-active {
            background-color: #91e1f5;
        }
    }
}