@use '../styles/variables' as *;

.content {
    display: flex;
    flex-direction: column;
    // flex-grow: 1;
    // overflow:auto;
    width: 100%vw;
    height: calc(100vh - 60px);
    margin-top: 60px;
    padding: 48px 10% 10%;
    h3 {
        font-weight: 700;
        margin-bottom: 20px;
    }
    .componentbox {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 1%;
        flex-wrap: wrap;
        .component {
            width: 24.25%;
            text-align: center;
            box-shadow: 1px 1px 4px 1px #1f34791a;
            margin-top: 40px;
            margin-bottom: 40px;
            border-radius: 4px;
            transition: color .3s, background-color .3s, box-shadow .3s, border-color .3s;
            padding: 24px;
            font-size: 14px;
            color: #333639;
            line-height: 1.6;
            cursor: pointer;
            box-sizing: border-box;
        }
        .component:hover {
            box-shadow: 3px 3px 5px 3px #1f34791a;
        }
    }
}