.contain {
    // border-radius: 6px;
    // border: 1px solid #dcdfe6;
    // padding: 26px 18px 28px;
    // margin-bottom: 30px;
    // margin-top: 10px;
    height: 400px;
    menu {
        height: 48px;
        box-shadow: 0 1px 3px 1px #0000001a;
        margin: 22px 6px;
    }
}